# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/ExciteBike/v15/.suo
/.vs/ExciteBike/v15/Browse.VC.db
/.vs/ExciteBike/v15/ipch/AutoPCH/2ae729d567a7c6c2/BASESCENE.ipch
/.vs/ExciteBike/v15/ipch/AutoPCH/968002201623f5e1/GAMESCENE.ipch
/.vs/ExciteBike/v15/ipch/AutoPCH/c3afb73cae7fe5ea/MAIN.ipch
/Log.txt
/x64/Debug/ExciteBike.Build.CppClean.log
/x64/Debug/ExciteBike.ilk
/x64/Debug/ExciteBike.log
/x64/Debug/ExciteBike.pdb
/x64/Debug/ExciteBike.tlog/CL.command.1.tlog
/x64/Debug/ExciteBike.tlog/CL.read.1.tlog
/x64/Debug/ExciteBike.tlog/CL.write.1.tlog
/x64/Debug/ExciteBike.tlog/ExciteBike.lastbuildstate
/x64/Debug/ExciteBike.tlog/link.command.1.tlog
/x64/Debug/ExciteBike.tlog/link.read.1.tlog
/x64/Debug/ExciteBike.tlog/link.write.1.tlog
/x64/Debug/vc141.idb
/x64/Debug/vc141.pdb
/.vs
/x64
/Debug
/x64
/ExciteBike.vcxproj.user
/.vs
